main {
    background-color:aqua 
}
body{ 
     background-color: orange
}
p{ 
    color:aliceblue
}
#banner{
    width: 100%;
}

main {
    font-size: 20px;
    text-align: center;
    text-align-last: center;
    position: relative;
    padding:1cm;
}

